* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    scroll-behavior: smooth;

    font-family: "Orbitron";
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    padding: 12px;
}

.about {
    background-color: white;
    padding: 12px;
    border-radius: 4px;
}


.con .contact-button {

    margin-left: 50%;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.contact-button:hover {
    background: rgba(0, 118, 255, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.dropdown {
    display: none;
}

#nav {
    width: 100%;
    padding: 12px;
    font-family: "Orbitron";
    font-weight: 700;
    position: fixed;


    transition: background-color 0.3s ease;
}

.nav-colored {
    background-color: rgb(33, 39, 43);
}

.nav-colored a {
    color: white;
}

.nav-transparent {
    background-color: rgba(128, 128, 128, 0.245);
}

.navbar {
    width: 40%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 12px;
}

li a {
    font-weight: 900;
    color: black;
    text-decoration: none;
}

li a:hover {
    color: #3b3b3b;
}

.slika {
    z-index: -2;
    position: fixed;
}

.slika img {
    width: 100%;
    transform: translateY(-30%);
}

.spacer {
    height: 100vh;
}

h1 {
    color: black;
    font-size: 64px;
    font-weight: lighter;
}

body {
    background-color: #111619;
    overflow: hidden;
}

@media only screen and (max-width: 480px) {

    .dropdown {
        display: inline;
    }

    .navbar {
        display: none;
    }

    .form {
        padding: 12px;
    }
}